@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: #F5F5F7;
}
ol{
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}